<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Main Page</title>
</head>
<body ng-app="demo">
	<hr />
	<div class="container" ng-controller="UserController">
		<div class="form">
			<table>
				<tr>
					<td><label>First Name</label> <input type="text"
						ng-model="userDto.firstName" class="input-sm spacing" /></td>
				</tr>
				<tr>
					<td><label>Last Name</label> <input type="text"
						ng-model="userDto.lastName" class="input-sm spacing" /></td>
				</tr>

				<tr>
					<td><label><input type="radio" name="Gender"
							ng-model="userDto.gender" value="MALE" /> Male </label> <label><input
							type="radio" name="Gender" ng-model="userDto.gender"
							value="FEMALE" /> Female </label></td>
				</tr>

				<tr>
					<td><label>DOB</label> <input type="date"
						ng-model="userDto.dob" class="input-sm spacing" /></td>
				</tr>
				<tr>
					<td><label>Department name</label> <input type="text"
						ng-model="userDto.deptDto.deptName" class="input-sm spacing" /></td>
				</tr>

				<tr>
					<td><button ng-click="saveUser()" class="btn btn-sm btn-info">Save
							User</button></td>
				</tr>
			</table>
		</div>

		<table class="form">
			<tr>
				<th>FIRST NAME</th>
				<th>LAST NAME</th>
				<th>GENDER NAME</th>
				<th>DOB</th>
				<th>DEPARTMENT NAME</th>
			</tr>


			<tr ng-repeat="user in allUsers">
				<td>{{user.firstName}}</td>
				<td>{{user.lastName}}</td>
				<td>{{user.gender}}</td>
				<td>{{user.dob}}</td>
				<td>{{user.deptDto.deptName}}</td>
			</tr>






		</table>
	</div>
</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/UserController.js"></script>
<script src="js/app/UserService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/app/app.css" />
</html>